<div class="container">
    
    <table class="table">
        <thead class="thead-dark">
          <tr>
            <th scope="col">Menu Id</th>
            <th scope="col">Category</th>
            <th scope="col">Enter</th>


            <!-- <th scope="col">Edit</th>
            <th scope="col">Delete</th>
            <th scope="col">Add</th> -->

            
            <!-- <th scope="col">Product Image</th> -->
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let r of result">
            
            <td>{{r.menuId}}</td>
            <td>{{r.category}}</td>
            <td><button class="=btn btn-primary" [routerLink]="['/item-details']">Click</button></td>
            <td><button class="=btn btn-primary" [routerLink]="['/item1']">Click</button></td>
            </tr>
          
          
        </tbody>
        
        
      </table>
    </div>


