<p>Veg Items</p>
<div class="container">
    <form #addDataForm="ngForm" (ngSubmit)="addItem(addDataForm)">
        <div class="form-group">
            <input 
            type="text"
            class="form-control"
            ngModel
            id="itemName" 
            name="itemName"
            #itemName="ngModel"
            placeholder="Enter the item name">
        </div>
        <div class="form-group">
            <input 
            type="text"
            class="form-control"
            ngModel
            id="itemDescription" 
            name="itemDescription"
            #itemDescription="ngModel"
            placeholder="Enter the item Description">
        </div>
        <div class="form-group">
            <input 
            type="text"
            class="form-control"
            ngModel
            id="itemPrice" 
            name="itemPrice"
            #itemPrice="ngModel"
            placeholder="Enter the item Price">
        </div>
        <div class="form-group">
            <input 
            type="text"
            class="form-control"
            ngModel
            id="productImageURL" 
            name="productImageURL"
            #productImageURL="ngModel"
            placeholder="Enter the products image URL">
        </div>
        
       
        <button type="submit" class="btn btn-primary">Submit</button>
      </form>
    </div>
