<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">Food App</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
     
      <li class="nav-item">
        <a routerLink="add-admin" class="nav-link" href="#">AddAdmin</a>
      </li>
      <!-- <li class="nav-item">
        <a routerLink="edit-admin/:id" class="nav-link" href="#">EditAdmin</a>
      </li> -->
      <li class="nav-item">
        <a routerLink="admin-details" class="nav-link" href="#">Admin Details</a>
      </li>
      <li class="nav-item">
        <a routerLink="edit-item" class="nav-link" href="#">Edit Item</a>
      </li>

      <li class="nav-item">
        <a routerLink="add-manager" class="nav-link" href="#">Add Manager</a>
      </li>
      <li class="nav-item">
        <a routerLink="registration" class="nav-link" href="#">Registration</a>
      </li>
      <li class="nav-item">
        <a routerLink="login" class="nav-link" href="#">LogIn</a>
      </li>
      <li class="nav-item">
        <a routerLink="menu" class="nav-link" href="#">Menu</a>
      </li>
      <li class="nav-item">
        <a routerLink="add-menu" class="nav-link" href="#">Add Menu</a>
      </li>
      <li class="nav-item">
        <a routerLink="food-order" class="nav-link" href="#">Food Order</a>
      </li>
      <li class="nav-item">
        <a routerLink="add-order" class="nav-link" href="#">Add Food Order</a>
      </li>
      <li class="nav-item">
        <a routerLink="add-branch" class="nav-link" href="#">Add Branch</a>
      </li>
      <li class="nav-item">
        <a routerLink="registration-manager" class="nav-link" href="#">Registration Manager</a>
      </li>
      <li class="nav-item">
        <a routerLink="login-manager" class="nav-link" href="#">Login Manager</a>
      </li>




      
    </ul>
    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>
  </div>
</nav>
<router-outlet></router-outlet>
<!-- <app-admin-details></app-admin-details> -->