<!-- <p>edit-admin works!</p>
<div class="container">
    <form #editData="ngForm" (ngSubmit)="editAdmin(editData)">
        <div class="form-group">
            <input 
            type="text"
            class="form-control"
            ngModel
            id="adminName" 
            name="adminName"
            #adminName="ngModel"
            [(ngModel)]="selectedAdmin.adminName"
            >
        </div>
        <div class="form-group">
            <input 
            type="text"
            class="form-control"
            ngModel
            id="adminEmail" 
            name="adminEmail"
            #adminEmail="ngModel"
            [(ngModel)]="selectedAdmin.adminEmail"
            >
        </div>
        <div class="form-group">
            <input 
            type="text"
            class="form-control"
            ngModel
            id="adminPassword" 
            name="adminPassword"
            #adminPassword="ngModel"
            [(ngModel)]="selectedAdmin.adminPassword"
            >
        </div>
       
        <button type="submit" class="btn btn-primary">Submit</button>
      </form>
    </div> -->
